header#header.clearfix
  section.websiteIcon
    h2.nm
      a(href= '/index')
        span N
        span o
        span d
        span e
        span j
        span s
  section.rightSec
    ul.links.nm
      li.index
        a(href= '/index') 首頁
      li.protfolio
        a(href= '/protfolio') 作品集
      li.article
        a(href= '/article') 文章

