header#header.clearfix
  section.pull-left.leftSec
    h2 Nodejs
  section.pull-right.rightSec
    ul.links
      li
        a(href= '/index') 首頁
      li
        a(href= '/profolio') 作品集
      li
        a(href= '/article') 文章

